<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPlayerCRUDService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6200/PlayerCRUDService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPlayerCRUDService"
                contract="CRUDService.IPlayerCRUDService" name="WSHttpBinding_IPlayerCRUDService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>